@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'system';
  font-size: 16px;
  background-color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  height: 100%;
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 2em;
  left: 2em;
  font-size: 0.75em;
  opacity: 0.25;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  display: none;
}
