<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TDISelect</title>
    <meta name="description" content="An example 'dropdown' selection element using the TDI-Tuning API.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="https://file.myfontastic.com/6wRyGmRPfcaePw8CNUCPad/icons.css" rel="stylesheet">
    <link href="dist/bundle.css" rel="stylesheet">
  </head>
  <body>

    <main>
      <div class="contain">
        <div class="tdi-select"></div>
      </div>
    </main>
    
    <footer>
      <p>&copy; Samuel Laycock 2017.</p>
    </footer>

    <script src="dist/bundle.js"></script>
    <script>
      var el = document.querySelector('.tdi-select'),
          select = new TDISelect(el);
    </script>

  </body>
</html>
